.main-head {
  margin-top: 55px;
  margin-bottom: 41px;
  text-align: center;
  max-width: 500px;
}

.main-head__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 31px;
}

.main-head__text {
  font-size: 14px;
  margin: 0;
}
