.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav__item {
  width: 239px;

  &:nth-child(2) {
    margin-right: 244px;
  }
}

.main-nav__link {
  font-weight: bold;
  font-size: 14px;
  padding: 16px 17px 14px 14px;
  display: block;
}

