.search-hotel {
  text-align: center;
  margin-bottom: 66px;
}

.search-hotel__wrap {
  width: 458px;
  margin: 0 auto;
}

.search-hotel__btn {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: @bluie-regular;
  padding: 16px 136px;
  color: @white;
}

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 44px;
}

.search-hotel__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 32px;
}
