.social__list {
  display: flex;
  flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 7px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: @bluie-regular;
  display: flex;
  align-items: center;
  justify-content: center;
}
